<!doctype html>
<html lang="en" ng-app='DIApp'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='DIController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
         </div>
         <h1>Dependency Injection in Javascript
        (and AngularJS)</h1>
        <div>
            <input type="text" ng-model="name" ng-blur="upper();">
        </div>
   </div>

</body>
</html>
